body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: block;
  color: #fff;
  text-align: center;
  background-color: #8eadff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-family: "Gruppo", cursive;
}

body.noScroll {
  /* ...or body.dialogShowing */
  overflow: hidden;
  position: fixed;
}

body,
html {
  height: 100%;
  width: 100%;
  background: #fff;
}

#mainCanvas {
  width: 100%;
  height: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}

#contentView {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #8eadff;
}

#backButton {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  background: url(../images/back.png) no-repeat;
  cursor: pointer;
  border: none;
}

#backButton:hover {
  background: url(../images/back_hover.png) no-repeat;
}
