.kwigbo {
        font-family: "JINKY", sans-serif;
        font-size: 50px;
}
#menu {
        display: none;
        font-size: 30px;
        padding: 20px;
        background-color: #3982f7; /* Light */
        border-radius: 25px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border-style: solid;
        font-weight: bold;
}

#menu ul {
        list-style-position: inside;
        margin-left: 0;
        padding-left: 0;
        min-width: 250px;
}

li.no_bullet {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
}

a {
        color: #fff;
        text-decoration: none; /* no underline */
}

a:hover {
        color: #cccccc;
}

.icon_link {
        font-size: 11px;
}
