body {
  background-image: linear-gradient(#BADDF7, #6CBCF7);
}

.Wallet {
  text-align: center;
}

.Wallet-Header {
  padding-top: 20px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}